.banner{
  justify-content: center;
  background: white;
  background-image: url("https://cinevasion.fr/wp-content/uploads/2019/11/cinevasion_salle_cinema-compressor.jpg");
  background-size: cover;
  height: 400px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
}
